
<form method='GET' action='/quizes'>
   Buscar pregunta:
		<input type='text' name='search' value='Texto a buscar...'/>
		<input type='submit' value='Buscar'/>
</form>


<table>
<% if(quizes.length!=0){
   var i; for (i=0;i<quizes.length;i++) { %>
   <tr><td><a href="quizes/<%=quizes[i].id %>"><%=quizes[i].pregunta %></a></td></tr>
<% }}
   else{%>
      <h4>No se encontraron preguntas con el texto indicado.</h4>
<%} %>
</table>
