<body>
    <div> <h3>Su sesión ha expirado!</h3>
      <img src="/images/peligro.jpg" width="18%" />
	<button type="submit" onCLick="return confirm('Su sesión ha expirado. Login?');">
   	  borrar
  	</button>    
    </div>
</body>
 

